In [ ]:
import pandas as pd

Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
movies=pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

                    Film    Genre  ... Worldwide Gross  Year
69             Enchanted   Comedy  ...        $340.49   2007
70             Dear John    Drama  ...        $114.97   2010
71             Beginners   Comedy  ...         $14.31   2011
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[8 rows x 8 columns]

visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies[["Film","Genre"]]
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies.iloc[20:31]

                                   Film      Genre  ... Worldwide Gross  Year
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008
30                             Penelope     Comedy  ...         $20.74   2008

[11 rows x 8 columns]

visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies.iloc[[23,29,45]][["Film","Year"]]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

In [ ]:
movies[movies["Genre"]=="Animation"]["Film"]

6                WALL-E
22              Tangled
64    Gnomeo and Juliet
65    Gnomeo and Juliet
Name: Film, dtype: object

In [ ]:
movie[(movies["Lead Studio"] == "Disney") |(movies ]["Film"]

SyntaxError: ignored

In [ ]:
movies[(movies[Year])]

visualizzare i film (tutte le colonne) il cui titolo comincia con la lettera W

In [ ]:
movies[movies["Film"].str.startswith("W")]

                    Film      Genre  ... Worldwide Gross  Year
3           When in Rome     Comedy  ...         $43.04   2010
4  What Happens in Vegas     Comedy  ...        $219.37   2008
5    Water For Elephants      Drama  ...        $117.09   2011
6                 WALL-E  Animation  ...        $521.28   2008
7               Waitress    Romance  ...         $22.18   2007
8    Waiting For Forever    Romance  ...          $0.03   2011

[6 rows x 8 columns]

visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies[movies.Genre == "Drama"]

                           Film  Genre  ... Worldwide Gross  Year
5           Water For Elephants  Drama  ...        $117.09   2011
14  The Twilight Saga: New Moon  Drama  ...        $709.82   2009
15     The Time Traveler's Wife  Drama  ...        $101.33   2009
19                  The Duchess  Drama  ...         $43.31   2008
28                  Remember Me  Drama  ...         $55.86   2010
29       Rachel Getting Married  Drama  ...         $16.61   2008
35            Not Easily Broken  Drama  ...         $10.70   2009
39         My Week with Marilyn  Drama  ...          $8.26   2011
48                 Love Happens  Drama  ...         $36.08   2009
68                    Fireproof  Drama  ...         $33.47   2008
70                    Dear John  Drama  ...        $114.97   2010
73                A Serious Man  Drama  ...         $30.68   2009
74           A Dangerous Method  Drama  ...          $8.97   2011

[13 rows x 8 columns]

visualizzare il numero di film per ogni genere

In [ ]:
movies.groupby("Genre").count()

           Film  Lead Studio  ...  Worldwide Gross  Year
Genre                         ...
Action        1            1  ...                1     1
Animation     4            4  ...                4     4
Comdy         1            1  ...                1     1
Comedy       41           41  ...               41    41
Drama        13           13  ...               13    13
Fantasy       1            1  ...                1     1
Romance      13           13  ...               13    13
Romence       1            1  ...                1     1
comedy        1            1  ...                1     1
romance       1            1  ...                1     1

[10 rows x 7 columns]

diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”

In [ ]:
movies["Audience score %"] = movies["Audience score %"]*0.9
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]