In [ ]:
import pymongo 
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client["4E"]

In [ ]:
df = db.impianti.find_one()
df

{'ID_NIL': 33,
 'INDIRIZZO': 'Via MONTE PIANA 7',
 'LAT_Y_WGS84': Decimal128('45.4304480881418'),
 'LONG_X_WGS84': Decimal128('9.24644868121172'),
 'Location': '(45.4304480881418, 9.24644868121172)',
 'MUNICIPIO': 4,
 'NIL': 'ROGOREDO - SANTA GIULIA',
 'Sit_NomeImpianto': 'MI ROGOREDO WS',
 'Sit_NomeVia': 'MONTE PIANA',
 'Sit_NumCiv': 7,
 'Sit_StatoImpianto': 'Acceso',
 'Ti_TipoImpianto': 'Altro',
 'Tv_TipoVia': 'Via',
 '_id': ObjectId('623ca29cf224e8f68db4a262'),
 'gestore': 'WorldSpace Italia S.p.A.'}

In [ ]:
df = pd.DataFrame.from_records(db.impianti.find())
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623ca29cf224e8f68db4a262,MI ROGOREDO WS,WorldSpace Italia S.p.A.,Altro,Acceso,Via,MONTE PIANA,7.0,Via MONTE PIANA 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.24644868121172,45.4304480881418,"(45.4304480881418, 9.24644868121172)"
1,623ca29cf224e8f68db4a263,SKY NUOVA SEDE,SKY Italia S.r.l.,Altro,Acceso,Sito,QUARTIERE SANTA GIULIA,NaN,Sito QUARTIERE SANTA GIULIA,4.0,33.0,ROGOREDO - SANTA GIULIA,9.24147702216754,45.4337350830028,"(45.4337350830028, 9.24147702216754)"
2,623ca29cf224e8f68db4a264,FAMAGOSTA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Via,PALATUCCI,NaN,Via PALATUCCI,6.0,46.0,BARONA,9.17022664716363,45.4371666703457,"(45.4371666703457, 9.17022664716363)"
3,623ca29cf224e8f68db4a265,SEDE TRENTO,A2A S.p.A.,Altro,Acceso,Piazza,TRENTO,13.0,Piazza TRENTO 13,5.0,27.0,PTA ROMANA,9.20172295654383,45.4461075399714,"(45.4461075399714, 9.20172295654383)"
4,623ca29cf224e8f68db4a266,LAMBRO MILANO 1,ENAV S.p.A.,Altro,Acceso,Sito,AEROPORTO FORLANINI - MILANO LINATE,NaN,Sito AEROPORTO FORLANINI - MILANO LINATE,4.0,31.0,MONLUE' - PONTE LAMBRO,9.26450594280557,45.4592651329697,"(45.4592651329697, 9.26450594280557)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1788,623ca29df224e8f68db4a95e,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2.0,Via FINOCCHIARO APRILE 2,2.0,10.0,STAZIONE CENTRALE - PONTE SEVESO,9.20196527286705,45.4782227735638,"(45.4782227735638, 9.20196527286705)"
1789,623ca29df224e8f68db4a95f,MILANO RAI,e-via S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27.0,Corso SEMPIONE 27,8.0,68.0,PAGANO,9.16571908469372,45.478470023673,"(45.478470023673, 9.16571908469372)"
1790,623ca29df224e8f68db4a960,CORSO SEMPIONE,Linkem S.p.A.,WiFi,Acceso,Corso,SEMPIONE,27.0,Corso SEMPIONE 27,8.0,68.0,PAGANO,9.16582170444859,45.4785598850507,"(45.4785598850507, 9.16582170444859)"
1791,623ca29df224e8f68db4a961,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22.0,Via GIOIA Melchiorre 22,9.0,9.0,PORTA GARIBALDI - PORTA NUOVA,9.19571817036434,45.4846513396339,"(45.4846513396339, 9.19571817036434)"
1792,623ca29df224e8f68db4a962,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13.0,Viale SUZZANI 13,9.0,14.0,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.19590937313315,45.5066223878702,"(45.5066223878702, 9.19590937313315)"

1.l’elenco degli impianti accesi. Visualizzare solo il nome e l’indirizzo

In [ ]:
result=db.impianti.find({"Sit_StatoImpianto":{"$regex":"Acceso"}},{"Sit_NomeImpianto":1,"_id":0,"INDIRIZZO":1})
df = pd.DataFrame(list(result))
df

                Sit_NomeImpianto                                 INDIRIZZO
0                 MI ROGOREDO WS                         Via MONTE PIANA 7
1                 SKY NUOVA SEDE               Sito QUARTIERE SANTA GIULIA
2                      FAMAGOSTA                             Via PALATUCCI
3                    SEDE TRENTO                          Piazza TRENTO 13
4                LAMBRO MILANO 1  Sito AEROPORTO FORLANINI - MILANO LINATE
...                          ...                                       ...
1783    HOTEL IBIS MILANO CENTRO                  Via FINOCCHIARO APRILE 2
1784                  MILANO RAI                         Corso SEMPIONE 27
1785              CORSO SEMPIONE                         Corso SEMPIONE 27
1786        MI WIFI CAB GIOIA 22                   Via GIOIA Melchiorre 22
1787  NOVOTEL MI NORD CA' GRANDA                          Viale SUZZANI 13

[1788 rows x 2 columns]

2. gli indirizzi in cui si trovano gli impianti dell’ATM

In [ ]:
result=db.impianti.find({"Sit_NomeImpianto":{"$regex":"ATM"}},{"Sit_NomeImpianto":1,"_id":0,"INDIRIZZO":1})
df = pd.DataFrame(list(result))
df

                                Sit_NomeImpianto                   INDIRIZZO
0  IT-LO-MIL-Metrò-staz.LORETO integr.Uff.ATM MC             Piazzale LORETO
1                       PARCHEGGIO ATM FORLANINI  Via Cardinal Mezzofanti 24
2                         DEPOSITO ATM PALMANOVA               Via Esterle 6
3                          DEPOSITO ATM PRECOTTO           Via ANASSAGORA 31

3.l’elenco degli impianti della Vodafone e della TIM

In [ ]:
result=db.impianti.find({"$or":[{"gestore":{"$regex":"VODAFONE"}},{"gestore":{"$regex":"TIM"}}]})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,Sit_NumCiv,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623ca29cf224e8f68db4a26f,MI V.LE JENNER,TIM S.p.A.,Altro,Acceso,Viale,JENNER,17.0,Viale JENNER 17,9.0,78.0,FARINI,9.182194204837,45.4970140155297,"(45.4970140155297, 9.182194204837)"
1,623ca29cf224e8f68db4a274,MI RIPAMONTI IEO MC,TIM S.p.A.,Microcella,Acceso,Via,RIPAMONTI,435.0,Via RIPAMONTI 435,5.0,85.0,PARCO DELLE ABBAZIE,9.20841157139043,45.415032838182,"(45.415032838182, 9.20841157139043)"
2,623ca29cf224e8f68db4a27a,SKY SANTA GIULIA,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7.0,Via MONTE PENICE 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.24101521646586,45.4333670130579,"(45.4333670130579, 9.24101521646586)"
3,623ca29cf224e8f68db4a27b,SKY 3° SEDE,VODAFONE,Microcella,Acceso,Via,MONTE PENICE,7.0,Via MONTE PENICE 7,4.0,33.0,ROGOREDO - SANTA GIULIA,9.24101521646586,45.4333670130579,"(45.4333670130579, 9.24101521646586)"
4,623ca29cf224e8f68db4a27c,ATAHOTEL QUARK,VODAFONE,Microcella,Acceso,Via,LAMPEDUSA,11.0,Via LAMPEDUSA 11,5.0,42.0,STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA...,9.18985275799358,45.4335713706427,"(45.4335713706427, 9.18985275799358)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,623ca29df224e8f68db4a954,TELENOVA,MULTIMEDIA SAN PAOLO S.r.l.,Televisione,Acceso,Via,SAN GALDINO,5.0,Via SAN GALDINO 5,8.0,69.0,SARPI,9.1669591065528,45.4867941405754,"(45.4867941405754, 9.1669591065528)"
729,623ca29df224e8f68db4a95d,TOWN HOUSE GALLERY,VODAFONE,WiFi,Acceso,Via,PELLICO,8.0,Via PELLICO 8,1.0,1.0,DUOMO,9.18973039358317,45.465777315237,"(45.465777315237, 9.18973039358317)"
730,623ca29df224e8f68db4a95e,HOTEL IBIS MILANO CENTRO,VODAFONE,WiFi,Acceso,Via,FINOCCHIARO APRILE,2.0,Via FINOCCHIARO APRILE 2,2.0,10.0,STAZIONE CENTRALE - PONTE SEVESO,9.20196527286705,45.4782227735638,"(45.4782227735638, 9.20196527286705)"
731,623ca29df224e8f68db4a961,MI WIFI CAB GIOIA 22,TIM S.p.A.,WiFi,Acceso,Via,GIOIA Melchiorre,22.0,Via GIOIA Melchiorre 22,9.0,9.0,PORTA GARIBALDI - PORTA NUOVA,9.19571817036434,45.4846513396339,"(45.4846513396339, 9.19571817036434)"
732,623ca29df224e8f68db4a962,NOVOTEL MI NORD CA' GRANDA,VODAFONE,WiFi,Acceso,Viale,SUZZANI,13.0,Viale SUZZANI 13,9.0,14.0,NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...,9.19590937313315,45.5066223878702,"(45.5066223878702, 9.19590937313315)"

4.gli indirizzi in cui c’è più di un impianto

In [ ]:
result = db.impianti.aggregate([{ "$group" : {"_id": "$INDIRIZZO", "total" : {"$sum" : 1}}},
                                { "$match": { "total": { "$gt": 1 }}},
                                { "$project": {"_id":1,"total":0}}])
df2 = pd.DataFrame(list(result))
df2

                         _id
0                Via PIRELLI
1               Via CASATI 2
2           Via CARROCCIO 12
3            Viale PICENO 14
4             Piazza MISSORI
..                       ...
230              Via DANTE 9
231           Via PIRELLI 39
232        Via TOTI Enrico 2
233  Via COLOMBO GIUSEPPE 81
234              Via Labus 3

[235 rows x 1 columns]

5.i gestori che sono società per azioni, Ordinare in ordine alfabetivo.

In [ ]:
result=db.impianti.find({'gestore':{ "$regex": "S.p.A." }},{"gestore":1,"_id":0}).sort("gestore",1)
df = pd.DataFrame(list(result))
df

                                           gestore
0     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
1     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
2     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
3     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
4     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
...                                            ...
998                                Wind Tre S.p.A.
999                                Wind Tre S.p.A.
1000                               Wind Tre S.p.A.
1001                      WorldSpace Italia S.p.A.
1002                                  e-via S.p.A.

[1003 rows x 1 columns]

6.il numero di impianti per ogni gestore

In [ ]:
result = db.impianti.aggregate([{ "$group" : {"_id": "$gestore", "total" : {"$sum" : 1}}}])
df2 = pd.DataFrame(list(result))
df2

                                                  _id  total
0                                    EUROPA TV S.p.A.      2
1                                    MEDIATECH S.r.l.      1
2              RFI - Rete Ferroviaria Italiana S.p.A.      8
3                 RADIOTELEVISIONE DI CAMPIONE S.p.A.      2
4   TBNE S.r.l. (Trinity Broadcasting Network of E...      1
..                                                ...    ...
64                                  TELESPAZIO S.p.A.      2
65                                    PRIMA TV S.p.A.      3
66                                   Videobyte S.r.l.      1
67             TELERADIODIFFUSIONI BERGAMASCHE S.r.l.      1
68                                     FASTWEB S.p.A.      4

[69 rows x 2 columns]

7.i gestori che hanno piu di 100, ordinare in ordine decrescente a partire dal gestore ce ha piu impianti

In [ ]:
result = db.impianti.aggregate([{ "$group" : {"_id": "$gestore", "total" : {"$sum" : 1}}},
                                { "$match": { "total": { "$gt": 100 }}},
                                { "$sort": {"total": -1 }}])
df2 = pd.DataFrame(list(result))
df2

                             _id  total
0                     TIM S.p.A.    382
1         CommsCon Italia S.r.l.    376
2                       VODAFONE    328
3                Wind Tre S.p.A.    213
4  WIND TELECOMUNICAZIONI S.p.A.    102

8.i gestori che che hanno impianti all'aeroporto di Linate

In [ ]:
result = db.impianti.find({"INDIRIZZO":{"$regex":"LINATE"}},{"_id":0,"gestore":1,"INDIRIZZO":1})
df = pd.DataFrame(list(result))
df

       gestore                                 INDIRIZZO
0  ENAV S.p.A.  Sito AEROPORTO FORLANINI - MILANO LINATE
1  ENAV S.p.A.  Sito AEROPORTO FORLANINI - MILANO LINATE

9.i gestori di cui non si conosce il tipo della via in cui si trovano i loro impianti

In [ ]:
result = db.impianti.find({"Tv_TipoVia":{"$regex":"---"}})
df = pd.DataFrame(list(result))
df

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,LONG_X_WGS84,LAT_Y_WGS84,Location
0,623ca29cf224e8f68db4a611,MILANO/BQ2,WIND TELECOMUNICAZIONI S.p.A.,Ponte,Acceso,---,9.19339871835639,45.5323423312983,"(45.5323423312983, 9.19339871835639)"

10.gli impianti che si trovano a Cimiano

In [ ]:
result=db.impianti.find({"NIL":{"$regex":"CIMIANO"}},{"_id":0,"Sit_NomeImpianto":1,"NIL":1})
df = pd.DataFrame(list(result))
df

                        Sit_NomeImpianto                              NIL
0                          CASCINA GOBBA  CIMIANO - ROTTOLE - Q.RE FELTRE
1                     MI BELLINCIONE SC1  CIMIANO - ROTTOLE - Q.RE FELTRE
2   METRO-GALLERIA LAMBRATE-UDINE CV6BIS  CIMIANO - ROTTOLE - Q.RE FELTRE
3       METRO-GALLERIA LAMBRATE-UDINE MC  CIMIANO - ROTTOLE - Q.RE FELTRE
4                     MI UDINE CARNIA MC  CIMIANO - ROTTOLE - Q.RE FELTRE
5                   METRO-STAZ. UDINE MC  CIMIANO - ROTTOLE - Q.RE FELTRE
6                    MI FELTRE CREVAL MC  CIMIANO - ROTTOLE - Q.RE FELTRE
7           METRO-GALLERIA UDINE-CIMIANO  CIMIANO - ROTTOLE - Q.RE FELTRE
8                           MI SANGRO MC  CIMIANO - ROTTOLE - Q.RE FELTRE
9                              SANGRO MC  CIMIANO - ROTTOLE - Q.RE FELTRE
10                      viale Turchia MC  CIMIANO - ROTTOLE - Q.RE FELTRE
11  METRO-GALLERIA UDINE-CIMIANO 1BIS MC  CIMIANO - ROTTOLE - Q.RE FELTRE
12    IT-LO-MIL-0359 VIA DON CALABRIA MC  CIMIANO - ROTTOLE - Q.RE FELTRE
13                         MI RIZZOLI MC  CIMIANO - ROTTOLE - Q.RE FELTRE
14                                ROMBON  CIMIANO - ROTTOLE - Q.RE FELTRE
15                         VIA PALMANOVA  CIMIANO - ROTTOLE - Q.RE FELTRE
16                                ROMBON  CIMIANO - ROTTOLE - Q.RE FELTRE
17                            VIA FELTRE  CIMIANO - ROTTOLE - Q.RE FELTRE
18                      QUARTIERE FELTRE  CIMIANO - ROTTOLE - Q.RE FELTRE
19                             MI LAMBRO  CIMIANO - ROTTOLE - Q.RE FELTRE
20                           VIA RIZZOLI  CIMIANO - ROTTOLE - Q.RE FELTRE
21                       5G SAN RAFFAELE  CIMIANO - ROTTOLE - Q.RE FELTRE
22                         CASCINA GOBBA  CIMIANO - ROTTOLE - Q.RE FELTRE
23                            VIA PADOVA  CIMIANO - ROTTOLE - Q.RE FELTRE

11.gli impianti che non sono acessi e chi si trovano a Cimiano e nel Quartiere Adriano

In [ ]:
result = db.impianti.find({ "$or":[{"Sit_StatoImpianto" : {'$not': { "$regex": "^Acceso.*" }}},{"NIL":{"$regex":"CIMIANO"}}]})
df2 = pd.DataFrame(list(result))
df2

,_id,Sit_NomeImpianto,gestore,Ti_TipoImpianto,Sit_StatoImpianto,Tv_TipoVia,Sit_NomeVia,INDIRIZZO,MUNICIPIO,ID_NIL,NIL,LONG_X_WGS84,LAT_Y_WGS84,Location,Sit_NumCiv
0,623ca29cf224e8f68db4a271,CASCINA GOBBA,A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.,Altro,Acceso,Località,PARCHEGGIO ATM CASCINA GOBBA,Località PARCHEGGIO ATM CASCINA GOBBA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25962523963492,45.5105999648407,"(45.5105999648407, 9.25962523963492)",NaN
1,623ca29cf224e8f68db4a446,MI BELLINCIONE SC1,TIM S.p.A.,Microcella,Acceso,Via,BELLINCIONE,Via BELLINCIONE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23864449035133,45.4866850830485,"(45.4866850830485, 9.23864449035133)",NaN
2,623ca29cf224e8f68db4a447,METRO-GALLERIA LAMBRATE-UDINE CV6BIS,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,MONTE TITANO,Piazza MONTE TITANO 6,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23721167780028,45.4867780731333,"(45.4867780731333, 9.23721167780028)",6.0
3,623ca29cf224e8f68db4a45c,METRO-GALLERIA LAMBRATE-UDINE MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23703643291365,45.4907658724716,"(45.4907658724716, 9.23703643291365)",NaN
4,623ca29cf224e8f68db4a464,MI UDINE CARNIA MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazzale,UDINE,Piazzale UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23684729943221,45.4914413377798,"(45.4914413377798, 9.23684729943221)",NaN
5,623ca29cf224e8f68db4a465,METRO-STAZ. UDINE MC,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23684756314614,45.4915043440944,"(45.4915043440944, 9.23684756314614)",NaN
6,623ca29cf224e8f68db4a46d,MI FELTRE CREVAL MC,TIM S.p.A.,Microcella,Acceso,Via,Feltre,Via Feltre 75,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.2457206333803,45.4925117393778,"(45.4925117393778, 9.2457206333803)",75.0
7,623ca29cf224e8f68db4a46f,METRO-GALLERIA UDINE-CIMIANO,CommsCon Italia S.r.l.,Microcella,Acceso,Piazza,UDINE,Piazza UDINE,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.236354403454,45.4929275187863,"(45.4929275187863, 9.236354403454)",NaN
8,623ca29cf224e8f68db4a475,MI SANGRO MC,TIM S.p.A.,Microcella,Acceso,Via,SANGRO,Via SANGRO,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23653808715206,45.4940072563457,"(45.4940072563457, 9.23653808715206)",NaN
9,623ca29cf224e8f68db4a476,SANGRO MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,SANGRO,Via SANGRO,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23875214030498,45.4940026566867,"(45.4940026566867, 9.23875214030498)",NaN
10,623ca29cf224e8f68db4a47a,viale Turchia MC,CommsCon Italia S.r.l.,Microcella,Acceso,Viale,TURCHIA,Viale TURCHIA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25483151400218,45.4951020874124,"(45.4951020874124, 9.25483151400218)",NaN
11,623ca29cf224e8f68db4a47e,METRO-GALLERIA UDINE-CIMIANO 1BIS MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,CARNIA,Via CARNIA 32,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23577624587993,45.4954579860971,"(45.4954579860971, 9.23577624587993)",32.0
12,623ca29cf224e8f68db4a492,IT-LO-MIL-0359 VIA DON CALABRIA MC,CommsCon Italia S.r.l.,Microcella,Acceso,Via,DON CALABRIA,Via DON CALABRIA,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.24379974896203,45.5011387805211,"(45.5011387805211, 9.24379974896203)",NaN
13,623ca29cf224e8f68db4a4a4,MI RIZZOLI MC,TIM S.p.A.,Microcella,Acceso,Via,RIZZOLI,Via RIZZOLI 8,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25244644402364,45.5055484971609,"(45.5055484971609, 9.25244644402364)",8.0
14,623ca29df224e8f68db4a823,ROMBON,ILIAD ITALIA S.p.A.,Telefonia,Acceso,Via,ROMBON,Via ROMBON 97,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25414597407615,45.4877948166968,"(45.4877948166968, 9.25414597407615)",97.0
15,623ca29df224e8f68db4a830,TIBALDI,VODAFONE,Telefonia,Previsto con parere favorevole,Via,Meda,Via Meda 33,5,43,TIBALDI,9.17901188895249,45.4417798116926,"(45.4417798116926, 9.17901188895249)",33.0
16,623ca29df224e8f68db4a831,TALIEDO,VODAFONE,Telefonia,Previsto con parere favorevole,Via,O. Salomone,Via O. Salomone,4,30,TALIEDO - MORSENCHIO - Q.RE FORLANINI,9.24047768748235,45.4452855511281,"(45.4452855511281, 9.24047768748235)",NaN
17,623ca29df224e8f68db4a832,VIA SETTEMBRINI,VODAFONE,Telefonia,Previsto con parere favorevole,Piazza,Luigi di Savoia,Piazza Luigi di Savoia 22,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.20723751681708,45.4854591466142,"(45.4854591466142, 9.20723751681708)",22.0
18,623ca29df224e8f68db4a833,Mi Antonio Cederna,VODAFONE,Telefonia,Previsto con parere favorevole,Via,Principe Eugenio,Via Principe Eugenio 51,8,70,GHISOLFA,9.1666826194816,45.49285220451,"(45.49285220451, 9.1666826194816)",51.0
19,623ca29df224e8f68db4a85a,VIA PALMANOVA,Wind Tre S.p.A.,Telefonia,Acceso con incoerenza grave,Via,PALMANOVA,Via PALMANOVA 22,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23275934509627,45.493204919597,"(45.493204919597, 9.23275934509627)",22.0
20,623ca29df224e8f68db4a8e2,ROMBON,Wind Tre S.p.A.,Telefonia,Acceso SCIA,Via,ROMBON,Via ROMBON 97,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25414597407615,45.4877948166968,"(45.4877948166968, 9.25414597407615)",97.0
21,623ca29df224e8f68db4a8e5,VIA FELTRE,VODAFONE,Telefonia,Acceso SCIA,Via,Plezzo,Via Plezzo 32,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.23468587367124,45.4886824910063,"(45.4886824910063, 9.23468587367124)",32.0
22,623ca29df224e8f68db4a8ee,QUARTIERE FELTRE,VODAFONE,Telefonia,Acceso SCIA,Via,Feltre,Via Feltre 100,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25095091819635,45.4916092870784,"(45.4916092870784, 9.25095091819635)",100.0
23,623ca29df224e8f68db4a8ef,MI LAMBRO,TIM S.p.A.,Telefonia,Acceso SCIA,Via,Feltre,Via Feltre 100,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25095091819635,45.4916092870784,"(45.4916092870784, 9.25095091819635)",100.0
24,623ca29df224e8f68db4a90c,VIA RIZZOLI,VODAFONE,Telefonia,Acceso SCIA,Via,Angelo RIZZOLI,Via Angelo RIZZOLI 8,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25287953121477,45.5050704897029,"(45.5050704897029, 9.25287953121477)",8.0
25,623ca29df224e8f68db4a90d,5G SAN RAFFAELE,VODAFONE,Telefonia,Acceso SCIA,Via,OLGETTINA,Via OLGETTINA 60,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.26338258993455,45.5064779385974,"(45.5064779385974, 9.26338258993455)",60.0
26,623ca29df224e8f68db4a915,CASCINA GOBBA,VODAFONE,Telefonia,Acceso SCIA,Località,Parcheggio ATM Cascina Gobba,Località Parcheggio ATM Cascina Gobba,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25962523963492,45.5105999648407,"(45.5105999648407, 9.25962523963492)",NaN
27,623ca29df224e8f68db4a919,VIA PADOVA,Wind Tre S.p.A.,Telefonia,Acceso SCIA,Via,PADOVA,Via PADOVA 366,3,18,CIMIANO - ROTTOLE - Q.RE FELTRE,9.25779803864835,45.5113601775117,"(45.5113601775117, 9.25779803864835)",366.0
28,623ca29df224e8f68db4a957,CH 44 UHF rete A Mux 1 (PERSIDERA),RETE A S.p.A.,Televisione,Previsto con parere favorevole,Via,CASATI,Via CASATI 45,2,10,STAZIONE CENTRALE - PONTE SEVESO,9.19945212047653,45.4803154137765,"(45.4803154137765, 9.19945212047653)",45.0

12. il quartiere con più impianti

In [ ]:
result = db.impianti.aggregate([{ "$group" : {"_id": "$MUNICIPIO", "total" : {"$sum" : 1}}},
                                {"$sort":{"_id":-1}}])
df2 = pd.DataFrame(list(result))
df2

   _id  total
0  9.0    154
1  8.0    349
2  7.0    188
3  6.0    141
4  5.0     88
5  4.0    138
6  3.0    154
7  2.0    163
8  1.0    411
9  NaN      7