In [ ]:
import pandas as pd

1. caricare i dati in un dataframe

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:,0:1]

                      Indirizzo
0     BASTIONI DI PORTA VOLTA 7
1   CORSO DI PORTA VIGENTINA 35
2                CORSO ITALI 16
3             CORSO SEMPIONE 94
4              CORSO VENEZIA 42
..                          ...
77              VIALE GORIZIA 6
78       VIALE MONTE CENERI SNC
79          VIALE SABOTINO 21/A
80       VIALE SAN GIMIGNANO 10
81               VIALE ZARA 131

[82 rows x 1 columns]

In [ ]:
df[df.columns[0:1]]

                      Indirizzo
0     BASTIONI DI PORTA VOLTA 7
1   CORSO DI PORTA VIGENTINA 35
2                CORSO ITALI 16
3             CORSO SEMPIONE 94
4              CORSO VENEZIA 42
..                          ...
77              VIALE GORIZIA 6
78       VIALE MONTE CENERI SNC
79          VIALE SABOTINO 21/A
80       VIALE SAN GIMIGNANO 10
81               VIALE ZARA 131

[82 rows x 1 columns]

3. visualizzare solo l'ultima colonna

In [ ]:
df.iloc[:,[-1]]

                                  Location
0    (45.47960100000006;9.182151000000033)
1    (45.45253800000006;9.196519500000022)
2    (45.45789300000007;9.187470000000076)
3     (45.48654000000005;9.15850800000004)
4    (45.47186100000005;9.202702500000044)
..                                     ...
77  (45.454518000000064;9.173155500000064)
78   (45.49156751800007;9.153591732000052)
79  (45.451017000000036;9.200173500000062)
80  (45.455868000000066;9.136525500000062)
81   (45.50019300000008;9.196686000000057)

[82 rows x 1 columns]

In [ ]:
df["Location"]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

4. visualizzare le colonne dalle terza alla quinta

In [ ]:
df.iloc[:,3:6]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52
81  20159          9      12

[82 rows x 3 columns]

5. visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

visualizzare la prima riga

In [ ]:
df.head(1)

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

9. visualizzare la riga centrale

In [ ]:
print(len(df))
if len(df)%2 == 0:
  print(df.loc[[len(df)//2 - 1]])
  print(df.loc[[len(df)//2]])
else:
    print(df.loc[[len(df)//2]])

82
                 Indirizzo  ...                               Location
40  VIA GIUSEPPE PECCHIO 1  ...  (45.48473100000007;9.215860500000076)

[1 rows x 10 columns]
                     Indirizzo  ...                               Location
41  VIA GIUSEPPE RIPAMONTI 167  ...  (45.43522200000007;9.201118500000064)

[1 rows x 10 columns]

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12],:]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.iloc[10:16,:]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.iloc[10:16,:][["Indirizzo","NIL"]]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.iloc[[3,5,12],:][["Telefono","Fax"]]

      Telefono          Fax
3          NaN          NaN
5  02-47714011  02-47714047
1  02-58320771  02-58319779

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[:,2:7][3:11]

            Fax    CAP  MUNICIPIO  ID_NIL                               NIL
3           NaN  20154          8      69                             SARPI
4    02-7837251  20121          1       4                         GUASTALLA
5   02-47714047  20146          6      49                       GIAMBELLINO
6   02-42255247  20146          6      49                       GIAMBELLINO
7    02-3271232  20148          8      66                              QT 8
8   02-37790947  20158          9      78                            FARINI
9   02-26680123  20131          3      22                      CITTA' STUDI
10  02-67733147  20124          2      10  STAZIONE CENTRALE - PONTE SEVESO

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df.loc[df["Indirizzo"].str.contains("PIAZZA NAPOLI")][["Telefono"]]

      Telefono
6  02-42255211

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df.loc[df["NIL"].str.contains("NIGUARDA")][["Telefono","Indirizzo"]]

       Telefono               Indirizzo
60  02-66100185            VIA PONALE 6
76   02-6470400  VIALE GIOVANNI SUZZANI

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [ ]:
df[df["MUNICIPIO"].isin(['1','2','3'])][["Telefono","Indirizzo","MUNICIPIO"]]

       Telefono                     Indirizzo  MUNICIPIO
0    02-6572655     BASTIONI DI PORTA VOLTA 7          1
1   02-58320771   CORSO DI PORTA VIGENTINA 35          1
2     02-804336                CORSO ITALI 16          1
4   02-76023056              CORSO VENEZIA 42          1
9    02-2665192                 VIA ADELCHI 2          3
10   02-6773311  VIA ALFREDO CAPPELLINI 17/19          2
13  02-26141687                 VIA ARQUA' 14          2
16  02-29527423                VIA BRONZINO 7          3
21  02-67070525           VIA COMUNE ANTICO 1          2
22  02-72482126                VIA CORDUSIO 4          1
25  02-80277311              VIA DELL'ORSO 11          1
26          NaN          VIA DELLA MOSCOVA 30          1
27  02-21040511                 VIA DURAZZO 5          3
30  02-58207833      VIA FESTA DEL PERDONO 10          1
38  02-85917111        VIA GIOSUE' CARDUCCI 7          1
40          NaN        VIA GIUSEPPE PECCHIO 1          3
46  02-28181611      VIA LUIGI VARANINI 26/28          2
49  02-86396911       VIA MAZZINI GIUSEPPE 15          1
51  02-26300993                VIA MONDOVI' 2          2
55  02-70061332                 VIA ORTICA 19          3
59          NaN                VIA PINDARO 29          2
64   02-2046789        VIA ROSOLINO PILO 19/A          3
66  02-89405932                VIA SAMBUCO 15          1
67   02-2566786             VIA SAN MAMETE 16          2
68  02-86396811         VIA SAN SIMPLICIANO 5          1
69  02-58318572             VIA SANTA SOFIA 8          1
71  02-26112432       VIA SCIPIONE PIATTOLI 6          2
72  02-86396711                   VIA VIGNA 6          1
73   02-2047169         VIALE ANDREA DORIA 48          3
75  02-67361911     VIALE EVARISTO STEFINI 12          2

18. visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df[df["Telefono"].isnull() | df["Fax"].isnull()][["NIL"]]

                                              NIL
3                                           SARPI
26                                          BRERA
31                                          ISOLA
40  BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE
59                               GORLA - PRECOTTO

In [ ]:
df[df.isna().any(axis = 1)]

                  Indirizzo  ...                                Location
3         CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
26     VIA DELLA MOSCOVA 30  ...  (45.476856000000055;9.189607500000022)
31  VIA FILIPPO SASSETTI 27  ...   (45.48825900000003;9.193140000000028)
40   VIA GIUSEPPE PECCHIO 1  ...   (45.48473100000007;9.215860500000076)
59           VIA PINDARO 29  ...   (45.51700500000004;9.229959000000065)

[5 rows x 10 columns]

19. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL)

In [ ]:
df.groupby("NIL").count()[["Indirizzo"]]

                                                    Indirizzo
NIL
ADRIANO                                                     1
AFFORI                                                      2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                    2
BANDE NERE                                                  1
BOVISASCA                                                   1
BRERA                                                       4
BRUZZANO                                                    1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE               4
CIMIANO - ROTTOLE - Q.RE FELTRE                             1
CITTA' STUDI                                                1
CORSICA                                                     1
DE ANGELI - MONTE ROSA                                      1
DERGANO                                                     1
DUOMO                                                       7
FARINI                                                      1
FORZE ARMATE                                                2
GIAMBELLINO                                                 3
GORLA - PRECOTTO                                            1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                1
GRECO - SEGNANO                                             1
GUASTALLA                                                   1
ISOLA                                                       3
LAMBRATE - ORTICA                                           1
LODI - CORVETTO                                             1
LORETO - CASORETTO - NOLO                                   2
MACIACHINI - MAGGIOLINA                                     2
MONCUCCO - SAN CRISTOFORO                                   1
MONLUE' - PONTE LAMBRO                                      1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...          2
PADOVA - TURRO - CRESCENZAGO                                2
PAGANO                                                      1
PORTA GARIBALDI - PORTA NUOVA                               1
PORTA GENOVA                                                1
PORTA MAGENTA                                               1
PORTA TICINESE - CONCA DEL NAVIGLIO                         1
PORTA TICINESE - CONCHETTA                                  1
PORTA VIGENTINA - PORTA LODOVICA                            1
PTA ROMANA                                                  1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO           2
QT 8                                                        1
QUARTO OGGIARO - VIALBA - MUSOCCO                           2
QUINTO ROMANO                                               1
ROGOREDO - SANTA GIULIA                                     1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO              1
SAN SIRO                                                    1
SARPI                                                       2
SCALO ROMANA                                                1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...          1
STAZIONE CENTRALE - PONTE SEVESO                            1
TIBALDI                                                     2
UMBRIA - MOLISE - CALVAIRATE                                1
VIGENTINO - Q.RE FATIMA                                     1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                         1
XXII MARZO                                                  2

20. visualizzare il numero di uffici per ogni Nucleo di IdentitÃ  Locale (NIL). Ordinare a partire dal NIL che ha piÃ¹ uffici in giÃ¹

In [ ]:
df.groupby("NIL").count().sort_values(["Indirizzo"], ascending = False)[["Indirizzo"]]

                                                    Indirizzo
NIL
DUOMO                                                       7
BRERA                                                       4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE               4
GIAMBELLINO                                                 3
ISOLA                                                       3
PADOVA - TURRO - CRESCENZAGO                                2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...          2
AFFORI                                                      2
MACIACHINI - MAGGIOLINA                                     2
LORETO - CASORETTO - NOLO                                   2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO           2
QUARTO OGGIARO - VIALBA - MUSOCCO                           2
FORZE ARMATE                                                2
XXII MARZO                                                  2
TIBALDI                                                     2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                    2
SARPI                                                       2
SAN SIRO                                                    1
PORTA TICINESE - CONCHETTA                                  1
PORTA VIGENTINA - PORTA LODOVICA                            1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                         1
VIGENTINO - Q.RE FATIMA                                     1
PTA ROMANA                                                  1
UMBRIA - MOLISE - CALVAIRATE                                1
STAZIONE CENTRALE - PONTE SEVESO                            1
QT 8                                                        1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...          1
SCALO ROMANA                                                1
QUINTO ROMANO                                               1
ROGOREDO - SANTA GIULIA                                     1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO              1
PORTA MAGENTA                                               1
PORTA TICINESE - CONCA DEL NAVIGLIO                         1
ADRIANO                                                     1
PORTA GENOVA                                                1
PORTA GARIBALDI - PORTA NUOVA                               1
BANDE NERE                                                  1
BOVISASCA                                                   1
BRUZZANO                                                    1
CIMIANO - ROTTOLE - Q.RE FELTRE                             1
CITTA' STUDI                                                1
CORSICA                                                     1
DE ANGELI - MONTE ROSA                                      1
DERGANO                                                     1
FARINI                                                      1
GORLA - PRECOTTO                                            1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                1
GRECO - SEGNANO                                             1
GUASTALLA                                                   1
LAMBRATE - ORTICA                                           1
LODI - CORVETTO                                             1
MONCUCCO - SAN CRISTOFORO                                   1
PAGANO                                                      1
MONLUE' - PONTE LAMBRO                                      1

In [ ]:
df["NIL"].value_counts()

DUOMO                                                          7
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
BRERA                                                          4
GIAMBELLINO                                                    3
ISOLA                                                          3
TIBALDI                                                        2
XXII MARZO                                                     2
AFFORI                                                         2
SARPI                                                          2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
PADOVA - TURRO - CRESCENZAGO                                   2
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
MACIACHINI - MAGGIOLINA                                        2
LORETO - CASORETTO - NOLO                                      2
FORZE ARMATE                                                   2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
STAZIONE CENTRALE - PONTE SEVESO                               1
UMBRIA - MOLISE - CALVAIRATE                                   1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
DERGANO                                                        1
BANDE NERE                                                     1
PAGANO                                                         1
CITTA' STUDI                                                   1
BOVISASCA                                                      1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
GUASTALLA                                                      1
VIGENTINO - Q.RE FATIMA                                        1
FARINI                                                         1
MONCUCCO - SAN CRISTOFORO                                      1
PTA ROMANA                                                     1
BRUZZANO                                                       1
ADRIANO                                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
GORLA - PRECOTTO                                               1
PORTA GENOVA                                                   1
SAN SIRO                                                       1
SCALO ROMANA                                                   1
PORTA MAGENTA                                                  1
DE ANGELI - MONTE ROSA                                         1
MONLUE' - PONTE LAMBRO                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA TICINESE - CONCHETTA                                     1
QT 8                                                           1
CORSICA                                                        1
PORTA VIGENTINA - PORTA LODOVICA                               1
QUINTO ROMANO                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
LODI - CORVETTO                                                1
LAMBRATE - ORTICA                                              1
ROGOREDO - SANTA GIULIA                                        1
GRECO - SEGNANO                                                1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
Name: NIL, dtype: int64

In [ ]:
df.groupby("NIL").count().sort_values(["Indirizzo"], ascending = False)[["Indirizzo"]]

                                                    Indirizzo
NIL
DUOMO                                                       7
BRERA                                                       4
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE               4
GIAMBELLINO                                                 3
ISOLA                                                       3
PADOVA - TURRO - CRESCENZAGO                                2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE ...          2
AFFORI                                                      2
MACIACHINI - MAGGIOLINA                                     2
LORETO - CASORETTO - NOLO                                   2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO           2
QUARTO OGGIARO - VIALBA - MUSOCCO                           2
FORZE ARMATE                                                2
XXII MARZO                                                  2
TIBALDI                                                     2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                    2
SARPI                                                       2
SAN SIRO                                                    1
PORTA TICINESE - CONCHETTA                                  1
PORTA VIGENTINA - PORTA LODOVICA                            1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                         1
VIGENTINO - Q.RE FATIMA                                     1
PTA ROMANA                                                  1
UMBRIA - MOLISE - CALVAIRATE                                1
STAZIONE CENTRALE - PONTE SEVESO                            1
QT 8                                                        1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA ...          1
SCALO ROMANA                                                1
QUINTO ROMANO                                               1
ROGOREDO - SANTA GIULIA                                     1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO              1
PORTA MAGENTA                                               1
PORTA TICINESE - CONCA DEL NAVIGLIO                         1
ADRIANO                                                     1
PORTA GENOVA                                                1
PORTA GARIBALDI - PORTA NUOVA                               1
BANDE NERE                                                  1
BOVISASCA                                                   1
BRUZZANO                                                    1
CIMIANO - ROTTOLE - Q.RE FELTRE                             1
CITTA' STUDI                                                1
CORSICA                                                     1
DE ANGELI - MONTE ROSA                                      1
DERGANO                                                     1
FARINI                                                      1
GORLA - PRECOTTO                                            1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                1
GRECO - SEGNANO                                             1
GUASTALLA                                                   1
LAMBRATE - ORTICA                                           1
LODI - CORVETTO                                             1
MONCUCCO - SAN CRISTOFORO                                   1
PAGANO                                                      1
MONLUE' - PONTE LAMBRO                                      1

In [ ]:
df["NIL"].value_counts()

DUOMO                                                          7
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
BRERA                                                          4
GIAMBELLINO                                                    3
ISOLA                                                          3
TIBALDI                                                        2
XXII MARZO                                                     2
AFFORI                                                         2
SARPI                                                          2
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
PADOVA - TURRO - CRESCENZAGO                                   2
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
MACIACHINI - MAGGIOLINA                                        2
LORETO - CASORETTO - NOLO                                      2
FORZE ARMATE                                                   2
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
STAZIONE CENTRALE - PONTE SEVESO                               1
UMBRIA - MOLISE - CALVAIRATE                                   1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
DERGANO                                                        1
BANDE NERE                                                     1
PAGANO                                                         1
CITTA' STUDI                                                   1
BOVISASCA                                                      1
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
GUASTALLA                                                      1
VIGENTINO - Q.RE FATIMA                                        1
FARINI                                                         1
MONCUCCO - SAN CRISTOFORO                                      1
PTA ROMANA                                                     1
BRUZZANO                                                       1
ADRIANO                                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
GORLA - PRECOTTO                                               1
PORTA GENOVA                                                   1
SAN SIRO                                                       1
SCALO ROMANA                                                   1
PORTA MAGENTA                                                  1
DE ANGELI - MONTE ROSA                                         1
MONLUE' - PONTE LAMBRO                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA TICINESE - CONCHETTA                                     1
QT 8                                                           1
CORSICA                                                        1
PORTA VIGENTINA - PORTA LODOVICA                               1
QUINTO ROMANO                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
LODI - CORVETTO                                                1
LAMBRATE - ORTICA                                              1
ROGOREDO - SANTA GIULIA                                        1
GRECO - SEGNANO                                                1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
Name: NIL, dtype: int64

21. visualizzare i municipi che hanno piÃ¹ di 15 uffici postali

In [ ]:
df['MUNICIPIO'].value_counts()[df['MUNICIPIO'].value_counts() > 10]

1    14
9    13
Name: MUNICIPIO, dtype: int64

22. visualizzare il municipio che ha piÃ¹ uffici postali

In [ ]:
df['MUNICIPIO'].value_counts().max()

14

In [ ]:
df['MUNICIPIO'].value_counts().idxmax()

1

In [ ]:
df.groupby("MUNICIPIO")["Indirizzo"].count().idxmax()

1

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df['MUNICIPIO'].value_counts().idxmin()

5

In [ ]:
df.MUNICIPIO.value_counts()[df.MUNICIPIO.value_counts()==df.MUNICIPIO.value_counts().min()]

5    7
4    7
3    7
Name: MUNICIPIO, dtype: int64

24. visualizzare il numero medio di uffici postali in ogni municipio

In [ ]:
df['MUNICIPIO'].value_counts().mean()

9.11111111111111

25. visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media

In [ ]:
df.groupby("MUNICIPIO").count()["Indirizzo"] > df.groupby("MUNICIPIO").count()["Indirizzo"].mean()

           Indirizzo
MUNICIPIO
1               True
2              False
3              False
4              False
5              False
6              False
7              False
8              False
9               True

In [ ]:
#giusto
df1 = df.groupby("MUNICIPIO").count()
df1[df1.Indirizzo > df1.Indirizzo.mean()]

           Indirizzo  Telefono  Fax  ...  LONG_X_4326  LAT_Y_4326  Location
MUNICIPIO                            ...
1                 14        13   13  ...           14          14        14
9                 13        12   12  ...           13          13        13

[2 rows x 9 columns]

26. eliminare tutti i record relativi al NIL di Niguarda

In [ ]:
df = df.drop(df[df['NIL'].str.contains("NIGUARDA")].index)
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

27. eliminare le ultime tre colonne

In [ ]:
df.drop(columns= df.iloc[:,-3:])

                      Indirizzo  ...                                  NIL
0     BASTIONI DI PORTA VOLTA 7  ...                                BRERA
1   CORSO DI PORTA VIGENTINA 35  ...     PORTA VIGENTINA - PORTA LODOVICA
2                CORSO ITALI 16  ...                                DUOMO
3             CORSO SEMPIONE 94  ...                                SARPI
4              CORSO VENEZIA 42  ...                            GUASTALLA
..                          ...  ...                                  ...
77              VIALE GORIZIA 6  ...           PORTA TICINESE - CONCHETTA
78       VIALE MONTE CENERI SNC  ...  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79          VIALE SABOTINO 21/A  ...                           PTA ROMANA
80       VIALE SAN GIMIGNANO 10  ...                           BANDE NERE
81               VIALE ZARA 131  ...              MACIACHINI - MAGGIOLINA

[80 rows x 7 columns]

In [ ]:
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

28. eliminare i record di cui non si conosce il numero di telefono o il fax

In [ ]:
df.dropna(subset=["Telefono","Fax"]),inplace= True)
df

SyntaxError: ignored

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

In [ ]:
df = df.set_index("Indirizzo")

In [ ]:
df.loc["VIALE ZARA 131","Telefono"]= "02-69922222"
df

                                Telefono  ...                                Location
Indirizzo                                 ...
BASTIONI DI PORTA VOLTA 7     02-6572655  ...   (45.47960100000006;9.182151000000033)
CORSO DI PORTA VIGENTINA 35  02-58320771  ...   (45.45253800000006;9.196519500000022)
CORSO ITALI 16                 02-804336  ...   (45.45789300000007;9.187470000000076)
CORSO SEMPIONE 94                    NaN  ...    (45.48654000000005;9.15850800000004)
CORSO VENEZIA 42             02-76023056  ...   (45.47186100000005;9.202702500000044)
...                                  ...  ...                                     ...
VIALE GORIZIA 6               02-8358241  ...  (45.454518000000064;9.173155500000064)
VIALE MONTE CENERI SNC       02-32671911  ...   (45.49156751800007;9.153591732000052)
VIALE SABOTINO 21/A          02-58457911  ...  (45.451017000000036;9.200173500000062)
VIALE SAN GIMIGNANO 10       02-41411311  ...  (45.455868000000066;9.136525500000062)
VIALE ZARA 131               02-69922222  ...   (45.50019300000008;9.196686000000057)

[82 rows x 9 columns]

In [ ]:
df[df.Indirizzo.str.contains("VIALE ZARA")]["Telefono"] = "02-69922225"
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

30. sostituire il trattino presente nei numeri di telefono con il carattere /

In [ ]:
df["Telefono"] = df["Telefono"].str.replace("-","/")
df