In [ ]:
import pymongo
import pandas as pd

In [ ]:
#database prof

client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
client

In [ ]:
db = client.sample_supplies
db

In [ ]:
#ma utlizzo il mio siccome in quel del prof hanno modificato i dati

client2 = pymongo.MongoClient("mongodb://WilsonRiccardo:Ricky2004!@cluster0-shard-00-00.mwou4.mongodb.net:27017,cluster0-shard-00-01.mwou4.mongodb.net:27017,cluster0-shard-00-02.mwou4.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-kkdpdd-shard-0&authSource=admin&retryWrites=true&w=majority")

#sample supplies perch√® ho scaricato i sample data su monodb atlas

db2 = client2.sample_supplies
db2

Database(MongoClient(host=['cluster0-shard-00-02.mwou4.mongodb.net:27017', 'cluster0-shard-00-01.mwou4.mongodb.net:27017', 'cluster0-shard-00-00.mwou4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-kkdpdd-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_supplies')

In [ ]:
#serve per copiare i dati all'interno del mio database, in una colection chiamata vendite

db2.vendite.insert_many(df.to_dict("records"))

In [ ]:
result = db2.sales.find()
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4995,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4996,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4997,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4998,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4999,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

#1. cancellare tutti i document relativi al negozio di San Diego

In [ ]:
#vedo quante sono i document che corrispondo alla condizione
result = db2.sales.find({"storeLocation" : "San Diego"})
df1 = pd.DataFrame(list(result))
df1

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff4,2014-08-18 10:42:13.935,"[{'name': 'backpack', 'tags': ['school', 'trav...",San Diego,"{'gender': 'F', 'age': 59, 'email': 'la@cevam....",False,In store
1,5bd761dcae323e45a93ccff6,2017-08-21 20:38:34.618,"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'F', 'age': 36, 'email': 'gul@waija...",False,Online
2,5bd761dcae323e45a93ccffa,2016-08-15 04:05:03.298,"[{'name': 'laptop', 'tags': ['electronics', 's...",San Diego,"{'gender': 'F', 'age': 40, 'email': 'elusekjiv...",True,In store
3,5bd761dcae323e45a93ccffe,2013-03-20 16:36:39.112,"[{'name': 'notepad', 'tags': ['office', 'writi...",San Diego,"{'gender': 'M', 'age': 61, 'email': 'ucikosusu...",False,Online
4,5bd761dcae323e45a93cd009,2015-11-08 06:59:18.442,"[{'name': 'binder', 'tags': ['school', 'genera...",San Diego,"{'gender': 'F', 'age': 33, 'email': 'ugmu@beku...",False,In store
...,...,...,...,...,...,...,...
341,5bd761deae323e45a93ce325,2015-03-30 22:47:19.228,"[{'name': 'printer paper', 'tags': ['office', ...",San Diego,"{'gender': 'F', 'age': 60, 'email': 'nupgak@se...",False,In store
342,5bd761deae323e45a93ce327,2015-03-17 02:24:29.203,"[{'name': 'notepad', 'tags': ['office', 'writi...",San Diego,"{'gender': 'F', 'age': 50, 'email': 'vepjuh@iz...",False,In store
343,5bd761deae323e45a93ce336,2017-04-02 07:22:57.842,"[{'name': 'pens', 'tags': ['writing', 'office'...",San Diego,"{'gender': 'M', 'age': 59, 'email': 'va@use.sa...",False,In store
344,5bd761deae323e45a93ce354,2016-09-24 15:58:04.280,"[{'name': 'notepad', 'tags': ['office', 'writi...",San Diego,"{'gender': 'M', 'age': 29, 'email': 'cuw@vo.ne...",False,Online
345,5bd761deae323e45a93ce363,2017-01-11 01:31:55.384,"[{'name': 'notepad', 'tags': ['office', 'writi...",San Diego,"{'gender': 'M', 'age': 75, 'email': 'furow@uta...",True,Online

In [ ]:
result = db2.sales.delete_many({"storeLocation": "San Diego"})
result.deleted_count

346

In [ ]:
#verifico l'avvenuta eliminazione dei dati
result = db2.sales.find()
df1 = pd.DataFrame(list(result))
df1

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4650,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4651,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4652,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4653,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

#2. invecchiare i clienti di 8 anni

In [ ]:
#verifico l'et√† delle persone
result = db2.sales.find()
df2 = pd.DataFrame(list(result))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4650,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4651,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4652,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4653,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

In [ ]:
#incremento l'et√† con l'operatore logico $inc
result = db2.sales.update_many({}, {"$inc" : {"customer.age" : 8}})
result.modified_count

4654

In [ ]:
#verifico se l'incremento sia avvenuto
result = db2.sales.find()
df2 = pd.DataFrame(list(result))
df2

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 50, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 58, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 53, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 53, 'email': 'du@rum.py...",False,In store
4650,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 55, 'email': 'dup@katje...",False,In store
4651,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 37, 'email': 'losuhse@e...",False,In store
4652,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 67, 'email': 'hu@pehabu...",False,Online
4653,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 41, 'email': 'lihzodud@...",False,Online

#3. cancellare tutti i tag 'stationary'

In [ ]:
#controllo il numero di document che contengono il tag stationary 
result = db2.sales.find({"items.tags" : "stationary"})
df3 = pd.DataFrame(list(result))
df3

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 50, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 58, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 53, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4085,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 53, 'email': 'du@rum.py...",False,In store
4086,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 55, 'email': 'dup@katje...",False,In store
4087,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 37, 'email': 'losuhse@e...",False,In store
4088,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 67, 'email': 'hu@pehabu...",False,Online
4089,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 41, 'email': 'lihzodud@...",False,Online

In [ ]:
result = db2.sales.update_many({},{"$pull" : {"items" : { "tags": "stationary"}}})
result.modified_count

4090

In [ ]:
#verifico l'avvenuta eliminazione dei tag stationary
result = db2.sales.find({"items.tags" : "stationary"})
df3 = pd.DataFrame(list(result))
df3
#siccome non esce nulla significa che i tag sono stati eliminati

Empty DataFrame
Columns: []
Index: []

#4. eliminare tutti i document di clienti che hanno pi√π di 80 anni e meno di 40

In [ ]:
#verifico quanti document corrispondo alla condizione
result = db2.sales.find({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
df4 = pd.DataFrame(list(result))
df4

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff0,2017-03-21 01:54:26.657,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 34, 'email': 'rapifoozi...",True,In store
1,5bd761dcae323e45a93ccff7,2017-12-08 21:40:34.527,"[{'name': 'laptop', 'tags': ['electronics', 's...",Denver,"{'gender': 'M', 'age': 36, 'email': 'fapra@rut...",False,Phone
2,5bd761dcae323e45a93ccffc,2015-11-12 12:06:07.052,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 38, 'email': 'ziguh@lu....",False,In store
3,5bd761dcae323e45a93ccffd,2015-07-27 20:05:46.464,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 39, 'email': 'fimpig@an...",False,In store
4,5bd761dcae323e45a93cd000,2015-05-15 13:43:24.561,"[{'name': 'notepad', 'tags': ['office', 'writi...",London,"{'gender': 'F', 'age': 35, 'email': 'zu@bainku...",False,Online
...,...,...,...,...,...,...,...
1005,5bd761deae323e45a93ce34a,2013-09-16 01:32:22.741,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 29, 'email': 'vouwopa@e...",False,Online
1006,5bd761deae323e45a93ce34e,2014-10-22 01:05:18.920,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 36, 'email': 'ewe@jafal...",False,In store
1007,5bd761deae323e45a93ce357,2017-07-15 09:44:26.576,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 38, 'email': 'daoslus@d...",True,In store
1008,5bd761deae323e45a93ce35b,2017-07-12 06:54:17.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 27, 'email': 'mohofri@c...",False,In store
1009,5bd761deae323e45a93ce36d,2017-12-25 07:02:51.283,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 37, 'email': 'losuhse@e...",False,In store

In [ ]:
result = db2.sales.delete_many({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
result.deleted_count

1010

In [ ]:
result = db2.sales.find({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
df4 = pd.DataFrame(list(result))
df4
##siccome non esce nulla significa che i tag sono stati eliminati

Empty DataFrame
Columns: []
Index: []

#5. calcolare il prezzo medio degli items

In [ ]:
result = db2.sales.aggregate([{"$unwind": "$items"},
                              {"$group": {"_id": "prezzo medio", "prezzoMedio": {"$avg":"$items.price"}}},
                              { "$project": { "prezzoMedio": { "$round": [ "$prezzoMedio", 2 ] } } }
])

df5 = pd.DataFrame(list(result))
df5
#ho utilizzato $round per non visualizzare l'intero numero

            _id prezzoMedio
0  prezzo medio      172.51

#6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
result = db2.sales.find({"customer.email" :{"$regex":".mz$"}})
df3 = pd.DataFrame(list(result))
df3

In [ ]:
result = db2.sales.update_many({"customer.email": { "$regex": ".mz$" } }, #fin qui √® giusto                                                                     
                               {"$set": { "customer":{"email": {"$replaceOne": { "input": "$email", "find": ".mz", "replacement": ".com" }}}}
  }
)
result.modified_count

14

sbagliato perch√® ho sostuito l'intera mail con <{"customer.email": { "$regex": '{"$replaceOne": { "input": "$email", "find": ".mz", "replacement": ".com" }}'}}>

#7. modificare il tag 'school' in 'education'

In [ ]:
result = db2.sales.find({"items.tags" : "school"})
df7 = pd.DataFrame(list(result))
df7

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 50, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 58, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 53, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
3442,5bd761deae323e45a93ce36a,2013-10-06 22:39:37.868,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 70, 'email': 'opujuw@ab...",False,In store
3443,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'binder', 'tags': ['school', 'genera...",Austin,"{'gender': 'F', 'age': 53, 'email': 'du@rum.py...",False,In store
3444,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 55, 'email': 'dup@katje...",False,In store
3445,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 67, 'email': 'hu@pehabu...",False,Online
3446,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'M', 'age': 41, 'email': 'lihzodud@...",False,Online

In [ ]:
result = db2.sales.update_many({ "items.tags": { "$regex": "school" } },[                                                                      
                              {"$set": { "items": {"tags": {"$replaceAll": { "input": "$tags", "find": "school", "replacement": "education" }}}}
  }]
)
result.modified_count

0

sbagliato perch√® i tag sono stati sostituiti con None

#8. aggiungere 7 anni alla data degli ordini

In [ ]:
#verifico le date
result = db2.sales.find()
df8= pd.DataFrame(list(result))
df8

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': None, 'price': 35...",Denver,"{'gender': 'M', 'age': 50, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'binder', 'tags': None, 'price': 28....",Seattle,"{'gender': 'M', 'age': 58, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': None, 'price': 30...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,"[{'name': 'binder', 'tags': None, 'price': 20....",Seattle,"{'gender': 'F', 'age': 53, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': None, 'price': 1...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
3639,5bd761deae323e45a93ce36a,2013-10-06 22:39:37.868,"[{'name': 'binder', 'tags': None, 'price': 13....",Denver,"{'gender': 'F', 'age': 70, 'email': 'opujuw@ab...",False,In store
3640,5bd761deae323e45a93ce36b,2016-01-20 17:29:10.225,"[{'name': 'binder', 'tags': None, 'price': 28....",Austin,"{'gender': 'F', 'age': 53, 'email': 'du@rum.py...",False,In store
3641,5bd761deae323e45a93ce36c,2014-11-29 10:09:41.573,"[{'name': 'binder', 'tags': None, 'price': 13....",Denver,"{'gender': 'F', 'age': 55, 'email': 'dup@katje...",False,In store
3642,5bd761deae323e45a93ce36e,2013-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': None, 'price': 33...",Denver,"{'gender': 'M', 'age': 67, 'email': 'hu@pehabu...",False,Online
3643,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'binder', 'tags': None, 'price': 29....",New York,"{'gender': 'M', 'age': 41, 'email': 'lihzodud@...",False,Online

In [ ]:
result = db2.sales.update_many(
  { "saleDate" : { "$exists" : "true" }},
  [{ "$set": { "saleDate": { "$dateAdd": { "startDate": "$saleDate", "unit": "year", "amount": 7}}}}]
)
result.modified_count

3644

In [ ]:
result = db2.sales.find()
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccfe8,2022-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': None, 'price': 35...",Denver,"{'gender': 'M', 'age': 50, 'email': 'cauho@wit...",True,Online
1,5bd761dcae323e45a93ccfe9,2022-08-25 10:01:02.918,"[{'name': 'binder', 'tags': None, 'price': 28....",Seattle,"{'gender': 'M', 'age': 58, 'email': 'keecade@h...",False,Phone
2,5bd761dcae323e45a93ccfea,2024-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': None, 'price': 30...",Denver,"{'gender': 'M', 'age': 59, 'email': 'worbiduh@...",False,In store
3,5bd761dcae323e45a93ccfeb,2022-02-23 09:53:59.343,"[{'name': 'binder', 'tags': None, 'price': 20....",Seattle,"{'gender': 'F', 'age': 53, 'email': 'vatires@t...",False,In store
4,5bd761dcae323e45a93ccfec,2024-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': None, 'price': 1...",London,"{'gender': 'M', 'age': 48, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
3639,5bd761deae323e45a93ce36a,2020-10-06 22:39:37.868,"[{'name': 'binder', 'tags': None, 'price': 13....",Denver,"{'gender': 'F', 'age': 70, 'email': 'opujuw@ab...",False,In store
3640,5bd761deae323e45a93ce36b,2023-01-20 17:29:10.225,"[{'name': 'binder', 'tags': None, 'price': 28....",Austin,"{'gender': 'F', 'age': 53, 'email': 'du@rum.py...",False,In store
3641,5bd761deae323e45a93ce36c,2021-11-29 10:09:41.573,"[{'name': 'binder', 'tags': None, 'price': 13....",Denver,"{'gender': 'F', 'age': 55, 'email': 'dup@katje...",False,In store
3642,5bd761deae323e45a93ce36e,2020-12-07 11:06:25.510,"[{'name': 'notepad', 'tags': None, 'price': 33...",Denver,"{'gender': 'M', 'age': 67, 'email': 'hu@pehabu...",False,Online
3643,5bd761deae323e45a93ce36f,2021-08-18 06:25:49.739,"[{'name': 'binder', 'tags': None, 'price': 29....",New York,"{'gender': 'M', 'age': 41, 'email': 'lihzodud@...",False,Online

#9. trovare il prodotto venduto pi√π costoso

In [ ]:
result = db2.sales.aggregate([{}

])

dbRes = pd.DataFrame(list(result))
dbRes

OperationFailure: ignored

#10. eliminare dagli ordini tutti i prodotti "envelopes"

per questo esercizio utlizzo il database di visio perch√® il mio √® smonco

In [ ]:
client = pymongo.MongoClient("mongodb://Emanuele-Visioli:EMAnuele25102004@cluster0-shard-00-00.x7fma.mongodb.net:27017,cluster0-shard-00-01.x7fma.mongodb.net:27017,cluster0-shard-00-02.x7fma.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-566dc8-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies
db

Database(MongoClient(host=['cluster0-shard-00-02.x7fma.mongodb.net:27017', 'cluster0-shard-00-00.x7fma.mongodb.net:27017', 'cluster0-shard-00-01.x7fma.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-566dc8-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_supplies')

In [ ]:
db.sales.aggregate([{ "$match": {} }, { "$out": "sales_da_modificare" }])

In [ ]:
result = db.sales_da_modificare.find()
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccff1,2014-08-18 04:37:26.849,"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'M', 'age': 57, 'email': 'ohaguwu@n...",False,In store
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
4,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
4650,5bd761deae323e45a93ce33e,2015-11-25 21:06:13.187,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 24, 'email': 'pahzuh@ba...",False,Phone
4651,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store
4652,5bd761deae323e45a93ce368,2015-04-22 08:31:40.113,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 65, 'email': 'cas@ejubu...",False,Online
4653,5bd761deae323e45a93ce369,2013-03-20 18:17:19.463,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 45, 'email': 'fili@vu.s...",False,Online

In [ ]:
result = db.sales_da_modificare.find({"items.name": "envelopes"})
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,"[{'name': 'pens', 'tags': ['writing', 'office'...",Seattle,"{'gender': 'F', 'age': 34, 'email': 'keigutip@...",False,Phone
1,5bd761dcae323e45a93ccffb,2015-11-16 22:02:34.415,"[{'name': 'printer paper', 'tags': ['office', ...",New York,"{'gender': 'F', 'age': 39, 'email': 'beecho@wi...",False,In store
2,5bd761dcae323e45a93ccfec,2017-12-03 18:39:48.253,"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
3,5bd761dcae323e45a93ccff8,2013-08-21 09:36:07.188,"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'F', 'age': 53, 'email': 'se@nacwev...",False,Phone
4,5bd761dcae323e45a93ccff3,2015-07-22 02:45:20.727,"[{'name': 'envelopes', 'tags': ['stationary', ...",London,"{'gender': 'F', 'age': 49, 'email': 'merto@bet...",False,In store
...,...,...,...,...,...,...,...
3081,5bd761deae323e45a93ce321,2016-05-28 14:56:36.624,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 54, 'email': 'zek@pi.sk...",False,In store
3082,5bd761deae323e45a93ce32e,2014-04-15 15:39:48.240,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 44, 'email': 'rociz@vus...",False,In store
3083,5bd761deae323e45a93ce337,2014-04-29 05:00:20.567,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 57, 'email': 'vo@guflan...",False,Online
3084,5bd761deae323e45a93ce33a,2016-12-22 15:24:27.219,"[{'name': 'envelopes', 'tags': ['stationary', ...",Denver,"{'gender': 'F', 'age': 53, 'email': 'tutrigkim...",True,In store
3085,5bd761deae323e45a93ce361,2013-02-09 21:00:27.568,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 48, 'email': 'kid@we.mt...",False,In store

In [ ]:
result = db.sales_da_modificare.update_many({}, {'$pull': { 'items': {'name': "envelopes"}}})
result.modified_count

3086

In [ ]:

result = db.sales_da_modificare.find({"customer.email": "vo@guflan.jp"})
df = pd.DataFrame(list(result))
df
#abbiamo verificato che non tutta la clonna venga eliminata

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761deae323e45a93ce337,2014-04-29 05:00:20.567,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 57, 'email': 'vo@guflan...",False,Online