In [ ]:
import pymongo

In [ ]:
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
db = client.sample_mflix
db

Database(MongoClient(host=['cluster0-shard-00-02.algwo.mongodb.net:27017', 'cluster0-shard-00-01.algwo.mongodb.net:27017', 'cluster0-shard-00-00.algwo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-am4cb3-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_mflix')

In [ ]:
df = db.movies.find_one()
df

{'_id': ObjectId('573a1391f29313caabcd68d0'),
 'awards': {'nominations': 1, 'text': '1 nomination.', 'wins': 0},
 'cast': ['Harold Lloyd',
  'Mildred Davis',
  "'Snub' Pollard",
  'Peggy Cartwright'],
 'countries': ['USA'],
 'directors': ['Alfred J. Goulding', 'Hal Roach'],
 'fullplot': "As a penniless man worries about how he will manage to eat, he is joined by a young waif and her dog, who are in the same predicament. Meanwhile, across town a dishonest lawyer is working with a gang of criminals, trying to swindle an innocent young heiress out of her inheritance. As the heiress is on her way home from the lawyer's office, she notices the young man and the waif in the midst of their latest problem with the authorities, and she rescues them. Later on, the young man will have an unexpected opportunity to repay her for her kindness.",
 'genres': ['Comedy', 'Short', 'Action'],
 'imdb': {'id': 10146, 'rating': 7.0, 'votes': 639},
 'languages': ['English'],
 'lastupdated': '2015-04-17 00:16:14.220000000',
 'plot': 'A penniless young man tries to save an heiress from kidnappers and help her secure her inheritance.',
 'poster': 'https://m.media-amazon.com/images/M/MV5BNzE1OWRlNDgtMTllNi00NTZiLWIyNTktYTk0MDY1ZWUwYTc5XkEyXkFqcGdeQXVyMjUxODE0MDY@._V1_SY1000_SX677_AL_.jpg',
 'rated': 'TV-G',
 'released': datetime.datetime(1919, 12, 28, 0, 0),
 'runtime': 22,
 'title': 'From Hand to Mouth',
 'tomatoes': {'lastUpdated': datetime.datetime(2015, 8, 21, 18, 45, 11),
  'production': 'Pathè Exchange',
  'viewer': {'meter': 55, 'numReviews': 71, 'rating': 3.3}},
 'type': 'movie',
 'writers': ['H.M. Walker (titles)'],
 'year': 1919}

1.     
I titoli dei film

In [ ]:
result=db.movies.find({},{"title":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                     title
0                       From Hand to Mouth
1                              The Saphead
2                 The Last of the Mohicans
3                         Traffic in Souls
4                   Where Are My Children?
...                                    ...
23525                        Fly Away Solo
23526                        No Home Movie
23527            Scenes of a Sexual Nature
23528  How to Win at Checkers (Every Time)
23529                               Tikkun

[23530 rows x 1 columns]

3.     
I film americani degli anni 20

In [ ]:
result=db.movies.find({'$and':[{"year":{"$gt":1919,"$lt":1930}},{'countries':"USA"}]})
df = pd.DataFrame(list(result))
df

,_id,plot,genres,runtime,cast,num_mflix_comments,poster,title,fullplot,countries,...,directors,writers,awards,lastupdated,year,imdb,type,tomatoes,rated,languages
0,573a1391f29313caabcd6ea2,The simple-minded son of a rich financier must...,[Comedy],77,"[Edward Jobson, Beulah Booker, Edward Connelly...",2.0,https://m.media-amazon.com/images/M/MV5BZDNiOD...,The Saphead,Nick Van Alstyne owns the Henrietta silver min...,[USA],...,"[Herbert Blachè, Winchell Smith]","[Bronson Howard (original play ""The Henrietta""...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-06-20 00:38:08.303000000,1920,"{'rating': 6.2, 'votes': 1020, 'id': 11652}",movie,"{'viewer': {'rating': 3.3, 'numReviews': 435, ...",NaN,NaN
1,573a1391f29313caabcd6d90,As Alice and Cora Munro attempt to find their ...,"[Adventure, Drama]",73,"[Wallace Beery, Barbara Bedford, Alan Roscoe, ...",NaN,https://m.media-amazon.com/images/M/MV5BZmJkZD...,The Last of the Mohicans,As Alice and Cora Munro attempt to find their ...,[USA],...,"[Clarence Brown, Maurice Tourneur]","[James Fenimore Cooper (novel), Robert Dillon ...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-19 00:12:27.010000000,1920,"{'rating': 6.9, 'votes': 773, 'id': 11387}",movie,"{'viewer': {'rating': 3.5, 'numReviews': 306, ...",NOT RATED,[English]
2,573a1391f29313caabcd7915,A man returns to his Appalachian homestead. On...,"[Comedy, Family]",65,"[Joe Roberts, Ralph Bushman, Craig Ward, Monte...",2.0,https://m.media-amazon.com/images/M/MV5BNTNjZj...,Our Hospitality,After her husband John McKay is killed in an o...,[USA],...,"[John G. Blystone, Buster Keaton]","[Jean C. Havez (story), Clyde Bruckman (story)...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-11 00:02:19.313000000,1923,"{'rating': 7.9, 'votes': 6646, 'id': 14341}",movie,"{'viewer': {'rating': 4.1, 'numReviews': 3329,...",NOT RATED,[English]
3,573a1391f29313caabcd7d02,"A film projectionist longs to be a detective, ...","[Comedy, Family, Fantasy]",45,"[Buster Keaton, Kathryn McGuire, Joe Keaton, E...",5.0,https://m.media-amazon.com/images/M/MV5BZWFhOG...,Sherlock Jr.,"A meek and mild projectionist, who also cleans...",[USA],...,[Buster Keaton],"[Jean C. Havez (story), Joseph A. Mitchell (st...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-28 00:37:15.970000000,1924,"{'rating': 8.3, 'votes': 19908, 'id': 15324}",movie,"{'viewer': {'rating': 4.3, 'numReviews': 6651,...",UNRATED,NaN
4,573a1391f29313caabcd8792,The most important family in Hickoryville is (...,"[Comedy, Drama, Family]",82,"[Harold Lloyd, Jobyna Ralston, Walter James, L...",NaN,https://m.media-amazon.com/images/M/MV5BNjk2MT...,The Kid Brother,The most important family in Hickoryville is (...,[USA],...,"[Ted Wilde, J.A. Howe, Harold Lloyd, Lewis Mil...","[John Grey (story), Ted Wilde (story), Thomas ...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-21 00:02:19.313000000,1927,"{'rating': 7.6, 'votes': 2548, 'id': 18051}",movie,"{'viewer': {'rating': 4.0, 'numReviews': 492, ...",NOT RATED,[English]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,573a1391f29313caabcd8713,When Union spies steal an engineer's beloved l...,"[Action, Adventure, Comedy]",67,"[Buster Keaton, Marion Mack, Glen Cavender, Ji...",1.0,https://m.media-amazon.com/images/M/MV5BYmRiMD...,The General,"Johnnie loves his train (""The General"") and An...",[USA],...,"[Clyde Bruckman, Buster Keaton]","[Buster Keaton, Clyde Bruckman, Al Boasberg (a...","{'wins': 2, 'nominations': 1, 'text': '2 wins ...",2015-09-15 02:11:47.513000000,1926,"{'rating': 8.3, 'votes': 47195, 'id': 17925}",movie,"{'viewer': {'rating': 4.3, 'numReviews': 11038...",UNRATED,[English]
80,573a139af29313caabcf1562,George and Gracie enter an elegant drawing roo...,"[Comedy, Short]",8,"[George Burns, Gracie Allen]",1.0,NaN,Lambchops,George and Gracie enter an elegant drawing roo...,[USA],...,[Murray Roth],NaN,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-07-26 00:26:43.803000000,1929,"{'rating': 6.7, 'votes': 246, 'id': 122580}",movie,"{'viewer': {'rating': 2.1, 'numReviews': 173, ...",NaN,[English]
81,573a139cf29313caabcf5b5d,With little luck at keeping a job in the city ...,"[Comedy, Western]",68,"[Howard Truesdale, Kathleen Myers, Ray Thompso...",1.0,https://m.media-amazon.com/images/M/MV5BMTk4MD...,Go West,A young man who doesn't find a job in his smal...,[USA],...,[Buster Keaton],"[Buster Keaton, Lex Neal (assistant writer), R...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-13 01:10:52.860000000,1925,"{'rating': 7.3, 'votes': 2283, 'id': 15863}",movie,"{'viewer': {'rating': 3.6, 'numReviews': 1839,...",NOT RATED,[English]
82,573a139bf29313caabcf36f9,This short experimental film tells the story o...,"[Short, Drama]",11,"[Jules Raucourt, George Voya]",NaN,NaN,"The Life and Death of 9413, a Hollywood Extra",This short experimental film tells the story o...,[USA],...,"[Robert Florey, Slavko Vorkapich]","[Robert Florey (concept), Slavko Vorkapich (co...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-03 01:16:54.210000000,1928,"{'rating': 7.2, 'votes': 714, 'id': 131461}",movie,"{'viewer': {'rating': 3.9, 'numReviews': 236},...",NaN,NaN
83,573a139ff29313caabd01709,NaN,[Western],80,"[Em-koy-e-tie, Hunting Horse, Esther LeBarre, ...",NaN,NaN,The Daughter of Dawn,NaN,[USA],...,[Norbert A. Myles],"[Richard Banks (story), Norbert A. Myles]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-03 00:33:47.333000000,1920,"{'rating': 6.4, 'votes': 30, 'id': 191066}",movie,"{'viewer': {'rating': 0.0, 'numReviews': 2}, '...",NaN,[English]

4.     
I film americani degli anni 30 e degli anni 40

In [ ]:
result=db.movies.find({'$and':[{"year":{"$gt":1929,"$lt":1950}},{'countries':"USA"}]})
df = pd.DataFrame(list(result))
df

,_id,plot,genres,runtime,rated,cast,num_mflix_comments,poster,title,fullplot,...,directors,writers,awards,lastupdated,year,imdb,countries,type,tomatoes,metacritic
0,573a1391f29313caabcd944c,Young Harry is in love and wants to marry an a...,"[Drama, Romance]",76,APPROVED,"[Greta Garbo, Lewis Stone, Gavin Gordon, Ellio...",1.0,https://m.media-amazon.com/images/M/MV5BYTc4Yj...,Romance,Young Harry is in love and wants to marry an a...,...,[Clarence Brown],"[Edward Sheldon (from the play by), Bess Mered...","{'wins': 3, 'nominations': 0, 'text': 'Nominat...",2015-08-08 00:38:18.023000000,1930,"{'rating': 6.0, 'votes': 379, 'id': 21310}",[USA],movie,"{'viewer': {'rating': 3.5, 'numReviews': 191, ...",NaN
1,573a1391f29313caabcd95fb,"Nan, a racketeer's daughter, is in love with T...","[Crime, Drama, Film-Noir]",83,NOT RATED,"[Gary Cooper, Sylvia Sidney, Paul Lukas, Willi...",NaN,https://m.media-amazon.com/images/M/MV5BMjI4OD...,City Streets,"Nan, a racketeer's daughter, is in love with T...",...,[Rouben Mamoulian],"[Dashiell Hammett (story), Max Marcin (adaptat...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-01 00:55:50.453000000,1931,"{'rating': 7.3, 'votes': 780, 'id': 21750}",[USA],movie,"{'viewer': {'rating': 3.8, 'numReviews': 160, ...",NaN
2,573a1391f29313caabcd9600,"With the aid of a wealthy erratic tippler, a d...","[Comedy, Drama, Romance]",87,PASSED,"[Virginia Cherrill, Florence Lee, Harry Myers,...",NaN,https://m.media-amazon.com/images/M/MV5BY2I4Mm...,City Lights,A tramp falls in love with a beautiful blind g...,...,[Charles Chaplin],[Charles Chaplin],"{'wins': 3, 'nominations': 0, 'text': '3 wins.'}",2015-09-06 00:10:05.493000000,1931,"{'rating': 8.6, 'votes': 93912, 'id': 21749}",[USA],movie,"{'viewer': {'rating': 4.4, 'numReviews': 26133...",NaN
3,573a1392f29313caabcd99e3,A young French soldier in World War I is overc...,[Drama],76,NaN,"[Lionel Barrymore, Nancy Carroll, Phillips Hol...",2.0,https://m.media-amazon.com/images/M/MV5BYzJlMD...,Broken Lullaby,A young French soldier in World War I is overc...,...,[Ernst Lubitsch],"[Maurice Rostand (play), Reginald Berkeley (ad...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-19 00:33:29.483000000,1932,"{'rating': 7.6, 'votes': 499, 'id': 22725}",[USA],movie,"{'viewer': {'rating': 4.0, 'numReviews': 119, ...",NaN
4,573a1391f29313caabcd9269,Spendthrift Willie Leyland again returns to th...,"[Comedy, Romance]",72,TV-G,"[Ronald Colman, Frederick Kerr, Loretta Young,...",NaN,NaN,The Devil to Pay!,Spendthrift Willie Leyland again returns to th...,...,[George Fitzmaurice],"[Frederick Lonsdale (story), Benjamin Glazer (...","{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-06-12 10:10:41.833000000,1930,"{'rating': 6.7, 'votes': 268, 'id': 20821}",[USA],movie,"{'viewer': {'rating': 3.3, 'numReviews': 70, '...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,573a139ff29313caabcfff82,The official World War II US government accoun...,"[Documentary, Short, War]",41,NaN,"[Eduard Benes, Neville Chamberlain, Clementine...",NaN,https://m.media-amazon.com/images/M/MV5BMTM0Mj...,The Nazis Strike,In this installment of the Why We Fight propag...,...,"[Frank Capra, Anatole Litvak]","[Julius J. Epstein, Philip G. Epstein, Adolf H...","{'wins': 2, 'nominations': 0, 'text': '2 wins.'}",2015-08-23 00:19:55.123000000,1943,"{'rating': 7.3, 'votes': 523, 'id': 184773}",[USA],movie,"{'viewer': {'rating': 0.0, 'numReviews': 7}, '...",NaN
512,573a139ff29313caabcff7d1,The official World War II US government accoun...,"[Documentary, History, War]",54,NaN,"[Douglas Bader, Arno Breker, Winston Churchill...",2.0,https://m.media-amazon.com/images/M/MV5BMTgzMz...,The Battle of Britain,"In this installment of the ""Why We Fight"" prop...",...,"[Frank Capra, Anthony Veiller]","[Julius J. Epstein, Philip G. Epstein]","{'wins': 2, 'nominations': 0, 'text': '2 wins.'}",2015-08-13 00:25:33.130000000,1943,"{'rating': 7.5, 'votes': 497, 'id': 182766}",[USA],movie,"{'viewer': {'rating': 4.0, 'numReviews': 80, '...",NaN
513,573a139ff29313caabcff8ae,The World War II US Government account of the ...,"[Documentary, History, War]",57,NaN,"[General Bergeret, Karl Brandt, Winston Church...",NaN,https://m.media-amazon.com/images/M/MV5BMTczNz...,Divide and Conquer,In this episode of the Why We Fight propaganda...,...,"[Frank Capra, Anatole Litvak]",NaN,"{'wins': 2, 'nominations': 0, 'text': '2 wins.'}",2015-05-11 00:01:41.183000000,1943,"{'rating': 7.4, 'votes': 421, 'id': 182989}",[USA],movie,"{'website': 'http://www.thedogwalker.com', 'vi...",NaN
514,573a139ff29313caabcffd74,The Official World War II US Government accoun...,"[Documentary, History, War]",65,NaN,"[Claire Chennault, Kai-Shek Chiang, Madame Chi...",2.0,https://m.media-amazon.com/images/M/MV5BMjA4Mj...,The Battle of China,"In this installment of the ""Why We Fight"" prop...",...,"[Frank Capra, Anatole Litvak]","[Julius J. Epstein, Philip G. Epstein]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-22 00:59:59.873000000,1944,"{'rating': 7.3, 'votes': 407, 'id': 184254}",[USA],movie,"{'viewer': {'rating': 0.0, 'numReviews': 1}, '...",NaN
515,573a139ff29313caabcffc7d,"Part VII of the ""Why We Fight"" series of warti...","[Documentary, War]",70,NaN,"[Dean Acheson, General Bergeret, A.A. Berle, A...",NaN,https://m.media-amazon.com/images/M/MV5BMTc4Nj...,War Comes to America,"In this final installment of the ""Why We Fight...",...,"[Frank Capra, Anatole Litvak]","[Julius J. Epstein, Philip G. Epstein, Adolf H...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-25 00:02:31.697000000,1945,"{'rating': 7.1, 'votes': 410, 'id': 183997}",[USA],movie,"{'viewer': {'rating': 4.0, 'numReviews': 30}, ...",NaN

5.     
Tutti i film tranne quelli americani

In [ ]:
result=db.movies.find({"countries":{"$not":{"$regex" :"USA"}}})
df = pd.DataFrame(list(result))
df

,_id,plot,genres,runtime,rated,cast,num_mflix_comments,poster,title,fullplot,...,directors,writers,awards,lastupdated,year,imdb,type,tomatoes,languages,metacritic
0,573a1391f29313caabcd8e45,A man travels around a city with a camera slun...,[Documentary],68.0,NOT RATED,[Mikhail Kaufman],1.0,https://m.media-amazon.com/images/M/MV5BMmIyZG...,Man with a Movie Camera,This playful film is at once a documentary of ...,...,[Dziga Vertov],[Dziga Vertov (scenario)],"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-11 00:24:40.773000000,1929,"{'rating': 8.4, 'votes': 13540, 'id': 19760}",movie,"{'viewer': {'rating': 4.1, 'numReviews': 7976,...",NaN,NaN
1,573a1391f29313caabcd952a,A group of German infantrymen of the First Wor...,"[Drama, Romance, War]",75.0,TV-PG,"[Fritz Kampers, Gustav Diessl, Hans-Joachim Mè...",NaN,https://m.media-amazon.com/images/M/MV5BNjRkNz...,Westfront 1918,A group of German infantrymen of the First Wor...,...,[Georg Wilhelm Pabst],"[Ernst Johannsen (novel), Ladislaus Vajda (scr...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-06-20 00:30:43.697000000,1930,"{'rating': 7.5, 'votes': 746, 'id': 21542}",movie,"{'viewer': {'rating': 4.0, 'numReviews': 17, '...",[German],NaN
2,573a1391f29313caabcd94b1,Albert is smitten for Pola but ends up wrongly...,"[Comedy, Drama, Romance]",96.0,NOT RATED,"[Albert Prèjean, Pola Illèry, Edmond T. Grèvil...",1.0,https://m.media-amazon.com/images/M/MV5BZGJiYj...,Under the Roofs of Paris,While singing in a lower class quarter in Pari...,...,[Renè Clair],[Renè Clair (scenario)],"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-02 00:25:04.023000000,1930,"{'rating': 7.4, 'votes': 1424, 'id': 21409}",movie,"{'viewer': {'rating': 3.7, 'numReviews': 689, ...","[French, Romanian]",NaN
3,573a1391f29313caabcd9721,Plea against war and for friendship between pe...,[Drama],93.0,TV-14,"[Alexander Granach, Fritz Kampers, Ernst Busch...",3.0,https://m.media-amazon.com/images/M/MV5BNzNjOG...,Comradeship,A old German mine was split in two after the e...,...,[Georg Wilhelm Pabst],"[Peter Martin Lampel, Karl Otten, Gerbert Rapp...","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-03-02 00:19:30.347000000,1931,"{'rating': 7.6, 'votes': 641, 'id': 22017}",movie,"{'viewer': {'rating': 3.8, 'numReviews': 169, ...","[French, German]",NaN
4,573a1391f29313caabcd956e,Vampire Count Orlok expresses interest in a ne...,[Horror],81.0,UNRATED,"[Max Schreck, Gustav von Wangenheim, Greta Sch...",1.0,https://m.media-amazon.com/images/M/MV5BMTAxYj...,Nosferatu,"Wisbourg, Germany based estate agent Knock dis...",...,[F.W. Murnau],"[Henrik Galeen (screen play), Bram Stoker (bas...","{'wins': 1, 'nominations': 1, 'text': '1 win &...",2015-09-07 07:20:20.853000000,1922,"{'rating': 8.0, 'votes': 63557, 'id': 13442}",movie,"{'viewer': {'rating': 4.0, 'numReviews': 46806...",[German],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11679,573a13f9f29313caabdea787,Dennis Rodman is on a mission. After forging a...,"[Documentary, Sport]",93.0,NaN,[Matt Cooper],2.0,https://m.media-amazon.com/images/M/MV5BMTczOD...,Dennis Rodman's Big Bang in PyongYang,Dennis Rodman is on a mission. After forging a...,...,[Colin Offland],"[Matt Baker, Colin Offland (story)]","{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-25 00:23:29.773000000,2015,"{'rating': 6.4, 'votes': 101, 'id': 4598848}",movie,NaN,"[English, Korean]",NaN
11680,573a13f9f29313caabdeaf5f,Four lives intersect along the Ganges: a low c...,[Drama],109.0,NaN,"[Richa Chadda, Sanjay Mishra, Vicky Kaushal, V...",1.0,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Fly Away Solo,Four lives intersect along the Ganges: a low c...,...,[Neeraj Ghaywan],[Varun Grover],"{'wins': 2, 'nominations': 2, 'text': '2 wins ...",2015-08-22 00:04:59.767000000,2015,"{'rating': 8.2, 'votes': 1273, 'id': 4635372}",movie,NaN,[Hindi],NaN
11681,573a13fbf29313caabdedf31,NaN,[Documentary],115.0,NaN,[Chantal Akerman],NaN,NaN,No Home Movie,NaN,...,[Chantal Akerman],[Chantal Akerman],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-13 18:35:53.927000000,2015,"{'rating': 3.8, 'votes': 5, 'id': 4881016}",movie,NaN,[French],NaN
11682,573a13fbf29313caabdee03b,"Sex and love. Some seek it, some need it, some...","[Comedy, Drama, Romance]",91.0,R,"[Holly Aird, Eileen Atkins, Hugh Bonneville, T...",2.0,https://m.media-amazon.com/images/M/MV5BMTA5OT...,Scenes of a Sexual Nature,Various Londeners meet people in Hampstead Hea...,...,[Ed Blum],[Aschlin Ditta],"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-12 09:51:28.903000000,2006,"{'rating': 6.1, 'votes': 4125, 'id': 475380}",movie,"{'website': 'http://www.tinpanfilms.com/', 'vi...",[English],NaN
11683,573a13f8f29313caabde8161,NaN,NaN,120.0,NaN,"[Aharon Traitel, Khalifa Natour, Riki Blich, G...",NaN,NaN,Tikkun,NaN,...,[Avishai Sivan],NaN,"{'wins': 7, 'nominations': 1, 'text': '7 wins ...",2015-09-04 00:39:57.163000000,2015,"{'rating': 7.0, 'votes': 23, 'id': 4482858}",movie,NaN,"[Hebrew, Yiddish]",NaN

6.     
I film che hanno un rating superiore a 4

In [ ]:
result=db.movies.find({"imdb.rating":{"$gt":4}},{'title':1, 'imdb':1})
df = pd.DataFrame(list(result))
df

,_id,title,imdb
0,573a1391f29313caabcd68d0,From Hand to Mouth,"{'rating': 7.0, 'votes': 639, 'id': 10146}"
1,573a1391f29313caabcd6ea2,The Saphead,"{'rating': 6.2, 'votes': 1020, 'id': 11652}"
2,573a1391f29313caabcd6d90,The Last of the Mohicans,"{'rating': 6.9, 'votes': 773, 'id': 11387}"
3,573a1390f29313caabcd4eaf,Traffic in Souls,"{'rating': 6.0, 'votes': 371, 'id': 3471}"
4,573a1390f29313caabcd5ea4,Where Are My Children?,"{'rating': 5.9, 'votes': 247, 'id': 7558}"
...,...,...,...
23106,573a13f9f29313caabdea787,Dennis Rodman's Big Bang in PyongYang,"{'rating': 6.4, 'votes': 101, 'id': 4598848}"
23107,573a13f9f29313caabdeaf5f,Fly Away Solo,"{'rating': 8.2, 'votes': 1273, 'id': 4635372}"
23108,573a13fbf29313caabdee03b,Scenes of a Sexual Nature,"{'rating': 6.1, 'votes': 4125, 'id': 475380}"
23109,573a13f7f29313caabde67ea,How to Win at Checkers (Every Time),"{'rating': 7.6, 'votes': 112, 'id': 4370256}"
23110,573a13f8f29313caabde8161,Tikkun,"{'rating': 7.0, 'votes': 23, 'id': 4482858}"

7.     
Il numero di film per ogni lingua. Ordinare in ordine decrescente a partire
della lingua più presente

In [ ]:
result = db.movies.aggregate([  
                                   { "$unwind": "$languages" }, 
                                   {"$group" : {"_id": "$languages", "total" : {"$sum" : 1}}} , 
                                   { "$sort": { "total": -1 } } 
                                   ])
df = pd.DataFrame(list(result))
df

                      _id  total
0                 English  16048
1                  French   2800
2                 Spanish   1787
3                  German   1583
4                 Italian   1362
..                    ...    ...
229                Uighur      1
230          Kabuverdianu      1
231  Korean Sign Language      1
232             Purepecha      1
233               Songhay      1

[234 rows x 2 columns]

8.     
Le prime 3 lingue in cui sono stati girati i film

In [ ]:
result = db.movies.aggregate([  
                                   { "$unwind": "$languages" }, 
                                   {"$group" : {"_id": "$languages", "total" : {"$sum" : 1}}} , 
                                   { "$sort": { "total": -1 } },
                                   {"$limit":3}
                                   ])
df = pd.DataFrame(list(result))
df

       _id  total
0  English  16048
1   French   2800
2  Spanish   1787

9.     
Le lingue in cui sono stati girati meno di 50 film

In [ ]:
result = db.movies.aggregate([  
                                   { "$unwind": "$languages" }, 
                                   {"$group" : {"_id": "$languages", "total" : {"$sum" : 1}}} , 
                                   { "$sort": { "total": -1 } },
                                   { "$match": { "total": { "$lt": 50 }}}
                                   ])
df = pd.DataFrame(list(result))
df

           _id  total
0      Tagalog     47
1      Catalan     43
2      Bengali     43
3      Panjabi     38
4     Filipino     37
..         ...    ...
192  Abkhazian      1
193    Malinka      1
194       Kuna      1
195     Quenya      1
196     Breton      1

[197 rows x 2 columns]

10.  
La durata media dei film italiani

11.  
La durata media dei film delle varie nazioni

12.  
Il film che è dura di più